{% extends 'base.html' %}
{% load mytags %}
{% block self_head_css_js %}
    <script src="/static/layer/layer.js"></script>
    <script src="/static/js/base.js"></script>
    <script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="/static/plugins/datatables/dataTables.bootstrap.css"></script>

{% endblock %}
{% block content %}
<script>
    window.onload=init;
    function init() {
        showhide(2);
    }
    function showhide(n) {
        var box = document.getElementById("accounts");
        box.className="active";
    }
</script>

<div class="content-wrapper">


    <section class="content">

<div id="dialog">
        <div class="box">
            <!-- /.box-header -->
            <!-- form start -->
            <a>修改密码成功</a>
</div>
    </div>


    </section>

  </div>
{% endblock %}