<head>
{% include 'head_script.html' %}
{% include 'link_css.html' %}
<script src="/static/js/echarts.min.js"></script>
</head>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content" style="position:relative;">
      <div class="box-info">
        <div class="box-header with-border">
          <h5 class="box-title">{{ hostname }}</h5>
            <a href="{% url 'open_monitor' hostname 0 %}" id="open_monitor">
                <li class="btn btn-primary" style="width: 60pt">开启监控</li>
            </a>

        </div>
      </div>

</section>
        <!-- /.content -->
</div>
